@use "../variables" as *;
.house-dream-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 120px;
  padding-top: 120px;
  padding-bottom: 100px;
  height: 940px;
  gap: 22px;

  .house-dream-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .house-dream-title-text {
      text-transform: uppercase;

      .house-dream-title-span {
        color: $light-brown;
      }
    }

    .house-dream-title-description {
      width: 290px;
      font-weight: 300;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.02em;
     
    }

    .house-dream-socials {
      display: flex;
      flex-direction: row;
      gap: 24px;

      img:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition-duration: 0.3s;
        filter: brightness(80%);
      }
    }
  }

  //   .house-dream-empty{
  //     width: 790px;
  //   }

  .house-dream-image-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 590px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    background-color: $beige;
    z-index: -1;

    img {
      align-items: end;
      object-fit: cover;
      width: 100%;
    }
  }

  .house-dream-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
    .house-dream-info-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 60px;
      
      p {        
        padding-top: 24px;
        width: 275px;
      }

      .house-dream-info-table {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .house-dream-info-table-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-bottom: 17px;

          td:first-child {
            color: $dark-gray;
          }

          &:not(:last-child) {
            border-bottom: 1px solid $light-gray;
          }
        }
      }
    }

    .house-dream-view-more {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $light-brown;

        &:hover {
          color: $dark-brown;
        }
      }

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        img:hover {
          filter: brightness(80%);
          transition-duration: 0.3s;
        }
      }
    }
  }
}


@media screen and (max-width: 1400px) {
  .house-dream-container {  
    flex-direction: column;
    height: unset;
    padding-inline: 60px;
  padding-top: 60px;
  padding-bottom: 80px;

    .house-dream-image-container {
      position: relative;
      top: unset;
      left: unset;
      transform: unset;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: end;
      background-color: $beige;
      border-radius: 8px;
      z-index: -1;

      img {
        align-items: end;
        object-fit: cover;
        width: 100%;
        border-radius: 8px;
      }
    }

    .house-dream-socials {
      display: none !important;
    }

    .house-dream-view-more {
      padding-top: 30px;
      justify-content: center
    }
    
  }


}


@media screen and (max-width: 1400px) {
  .house-dream-container {  
    padding-inline: 20px;
  padding-top: 20px;
  padding-bottom: 50px;

  }
}